* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color:#202124;
  color: #ebebeb;
  font-family: 'Product Sans',Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header {
  height: 50px;
  padding: 10px;
}

.wrap {
  display: flex;
  margin-left: 85%;
  justify-content: space-around;
  align-items: center;
  font-size: .8rem;
}

.image {
  height: 32px;
  width: 32px;
  background-image: url('photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.container {
  height: 100%;
  width: 700px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -3px;
}

.font-g {
  font-size: 6rem;
}

.font-e {
  display: inline-block;
  transform: rotate(-15deg);
}

.search-bar {
  height: 45px;
  width: 600px;
  border-radius: 100px;
  border: 1px solid dimgray;
  background-color: #202124;
  color: aliceblue;
  padding: 20px;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input {
  border: 1px solid dimgray;
  background-color: #202124;
  color: aliceblue;
  height: 45px;
  width: 85%;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

.search-bar i {
  color: #85878c;
}

.container button {
  height: 40px;
  width: 150px;
  margin: 20px 10px 0px 0px;
  background-color: #303134;
  color: white;
  font-size: 1rem;
  line-height: 40px;
  border: none;
  border-radius: 5px;
}

.container article a{
  color: #7699d0;
  margin-right: 15px;
}

.container article {
  color: #85878c;
  font-size: .8rem;
  margin-top: 20px;
}

footer {
  color: #878b8f;
  background-color: #171717;
  font-size: 1rem;
  margin-top: 240px;
}

footer ul li{
  list-style: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer-satu ul, .footer-dua ul{
  display: flex;
}

footer ul li a {
  color: gray;
  margin: 0px 10px;
}

footer article {
  padding: 10px 20px;
  margin-left: 10px;
}

hr {
  border: .1rem solid rgb(83, 83, 83);
}