* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color:#202124;
  color: #ebebeb;
  font-family: 'Product Sans',Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header {
  height: 10vh;
  padding: 10px 10px 0px 10px;
}

.wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: .8rem;
}

.wrap a,
.wrap div {
  cursor: pointer;
}

.margin-right {
  margin-right: 10px;
}

.apps {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.wrap .apps:hover {
  background-color: #303134;
}

.image {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202124;
  background-color: #ebebeb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}


.container {
  height: 100%;
  width: 100%;
  margin: -20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -3px;
  color: white;
}

h1 span:nth-child(1) {
  font-size: 5.5rem;
}
h1 span:nth-child(6) {
  display: inline-block;
  transform: rotate(-15deg);
}
.search-bar {
  height: 45px;
  width: 580px;
  border-radius: 100px;
  border: 1px solid dimgray;
  background-color: #202124;
  color: aliceblue;
  padding: 20px;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar:hover {
  background-color: #303134;
  border: none;
}

.search-bar input {
  border: 1px solid dimgray;
  background-color: #202124;
  color: aliceblue;
  height: 45px;
  width: 85%;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

.search-bar i {
  color: #85878c;
}

.container button {
  height: 35px;
  width: 150px;
  margin: 20px 10px 0px 0px;
  background-color: #303134;
  color: white;
  font-size: .9rem;
  line-height: 35px;
  border: none;
  border-radius: 5px;
}

.container button:hover {
  outline: 1px solid #85878c;
  cursor: pointer;
}

.container article a{
  color: #7699d0;
  margin-right: 15px;
}

.container article {
  color: #a8aab1;
  font-size: .8rem;
  margin-top: 30px;
}

footer {
  color: #878b8f;
  background-color: #171717;
  font-size: .9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer ul li{
  list-style: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer-satu ul, .footer-dua ul{
  display: flex;
}

footer ul li a {
  color: gray;
  margin: 0px 10px;
}

footer article {
  padding: 10px 20px;
  margin-left: 10px;
}

a:hover{
  text-decoration: underline;
}

hr {
  border: 1px solid #252525;
}

/* Light Mode */
.light-mode {
  background-color: #fff;
  color: #505050;
}
.light-mode .image {
  background-color: #202124;
  color: #ebebeb;
}

.light-mode .wrap .apps:hover {
  background-color: #ebebec;
}

.light-mode h1 span:nth-child(1),
.light-mode h1 span:nth-child(4) {
  color: #4285f4;
}

.light-mode h1 span:nth-child(2),
.light-mode h1 span:nth-child(6) {
  color: #ea4335;
}

.light-mode h1 span:nth-child(3) {
  color: #fbbc05;
}

.light-mode h1 span:nth-child(5) {
  color: #34a853;
}

.light-mode .search-bar {
  background-color: #fff;
  border: 1px solid #ddd;
}

.light-mode .search-bar:hover {
  box-shadow: 0px 0px 3px 3px rgba(214, 214, 214, 0.3);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(214, 214, 214, 0.3);
    -moz-box-shadow: 0px 0px 3px 3px rgba(214, 214, 214, 0.3);
}

.light-mode .search-bar input{
  color: #171717;
}

.light-mode button {
  background-color: #f2f2f2;
  color: #303134;
}

.light-mode button:hover {
  outline: none;
  box-shadow: 0px 0px 1px 1px rgba(82, 82, 82, 0.3);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(82, 82, 82, 0.3);
  -moz-box-shadow: 0px 0px 1px 1px rgba(82, 82, 82, 0.3);
}

.light-mode button:active {
  outline: 1px solid #4285f4;
}

.light-mode footer {
  background-color: #f2f2f2;
  color: gray;
}

.light-mode hr {
  border: 1px solid #e6e5e5;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-dua {
    margin-top: 20px;
  }
}